<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.infowindtech.eguru"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <permission
        android:name="com.infowindtech.eguru.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.infowindtech.eguru.permission.MAPS_RECEIVE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- <uses-feature android:glEsVersion="0x00020000"/> -->
    <!-- <permission android:name="us.zoom.sdksample.permission.KUBI_MESSAGE" -->
    <!-- android:protectionLevel="signature" /> -->
    <!-- <uses-permission android:name="us.zoom.sdksample.permission.KUBI_MESSAGE" /> -->


    <!--    <permission-->
    <!--        android:name="com.app.appname.permission.C2D_MESSAGE"-->
    <!--        android:protectionLevel="signature" />-->

    <!--    <uses-permission android:name="com.app.appname.permission.C2D_MESSAGE" />-->
    <!--    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />-->

    <!-- -->
    <!--    <uses-permission android:name="android.permission.WAKE_LOCK" />-->

    <supports-screens
        android:anyDensity="true"
        android:compatibleWidthLimitDp="720"
        android:largeScreens="true"
        android:normalScreens="true"
        android:requiresSmallestWidthDp="600"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <compatible-screens>
        <screen
            android:screenDensity="ldpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="small" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="small" />
        <!-- all normal size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="normal" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="normal" />
        <!-- all large size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="large" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="large" />
        <!-- all xlarge size screens -->
        <screen
            android:screenDensity="ldpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="mdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="hdpi"
            android:screenSize="xlarge" />
        <screen
            android:screenDensity="xhdpi"
            android:screenSize="xlarge" />
    </compatible-screens>

    <application
        android:name="com.infowindtech.eguru.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name="com.infowindtech.eguru.JitsiActivity"></activity>
        <activity android:name="org.jitsi.meet.sdk.JitsiMeetActivity"></activity>


        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="com.infowindtech.eguru.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.infowindtech.eguru.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.infowindtech.eguru.PaypalRazorPaymentActivity" />

        <service
        android:name="com.paypal.android.sdk.payments.PayPalService"
        android:exported="false" />

        <activity android:name="com.paypal.android.sdk.payments.PaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentMethodActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PaymentConfirmActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity
            android:name="io.card.payment.CardIOActivity"
            android:configChanges="keyboardHidden|orientation" />
        <activity android:name="io.card.payment.DataEntryActivity" />
        <activity
            android:name="com.infowindtech.eguru.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infowindtech.eguru.StudentPanel.StudentHomeActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infowindtech.eguru.StudentPanel.TeacherProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infowindtech.eguru.StudentPanel.UpdateCommonActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.infowindtech.eguru.TeacherPanel.Fragments.Personal_Registration_Fragment"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.infowindtech.eguru.FirebaseChat.FirebaseChatMessage" />

        <activity
            android:name="com.infowindtech.eguru.PaypalWebActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyADz5_kbY7n185PVqiEsFpCzNpUBiF4dzM" />

        <activity
            android:name="com.razorpay.CheckoutActivity"
            tools:ignore="Instantiatable" /> <!-- RAZORPAY KEY -->
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_HIMTrEFVoWgAI6" />



        <!--        <meta-data-->
        <!--            android:name="com.google.firebase.messaging.default_notification_icon"-->
        <!--            android:resource="@drawable/final_logo" />-->
        <!--        <meta-data-->
        <!--            android:name="com.google.firebase.messaging.default_notification_channel_id"-->
        <!--            android:value="@string/default_notification_channel_id" />-->

        <!--        <meta-data-->
        <!--            android:name="firebase_analytics_collection_enabled"-->
        <!--            android:value="true" />-->

        <!--        <service-->
        <!--            android:name=".MyFireBaseMessaging"-->
        <!--            android:enabled="true"-->
        <!--            android:exported="true"-->
        <!--            android:stopWithTask="false">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="com.google.firebase.MESSAGING_EVENT" />-->
        <!--            </intent-filter>-->
        <!--        </service>-->



        <!-- [START fcm_default_icon] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/final_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <!-- [END fcm_default_icon] -->


        <!-- [START fcm_default_channel] -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <!-- [END fcm_default_channel] -->


        <service
            android:name=".MyFireBaseMessaging"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <service android:name="com.google.firebase.components.ComponentDiscoveryService">
            <meta-data
                android:name="com.google.firebase.components:com.google.firebase.iid.Registrar"
                android:value="com.google.firebase.components.ComponentRegistrar" />
        </service>
    </application>

</manifest>